body {
  background-color: light-dark(rgb(255, 182, 193), aqua);
  color: light-dark(black, white);
}

footer {
  background-color: light-dark(plum, purple);
  color: light-dark(white, black);
}

.center {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#color-chooser {
  border: 3px solid purple;

  input {
    display: none;
    border: 5px solid red;
  }
}
